frontend/build/
frontend/.dart_tool/
frontend/.packages
frontend/.flutter-plugins*
frontend/android/.gradle/
frontend/android/local.properties
frontend/ios/Pods/
frontend/ios/.symlinks/
frontend/macos/Pods/
frontend/windows/Flutter/ephemeral/
frontend/linux/flutter/ephemeral/
backend/venv/
__pycache__
*.pyc
.env
*.iml
.idea/
.DS_Store
